.body {
    background-color: darkgray;
}

.container {
    background-color: azure;
}

.nav-item{
    font-size: 2em;
    margin-left: 1em;
    padding: 0 1em 0 1em;
    border: 1px double black;
    opacity: 0.6;
    border-radius:  0.5em 0.5em;
}

.nav-item:hover{
    background-color: aquamarine;
    opacity: 1;
    transition-duration: .2s;
}

.navbar-brand {
    font-size: 2em;
    font-style: oblique;
    font-weight: bold;

}

.form-new-client {
    margin-top: 1em;
    padding: 0 15em 5em 15em;
}

.text-new-client {
    text-align: center;
    padding: 5em;
}

.form-control-wr {
    margin-top: 1em;
    margin-bottom: 2em;
}

.client-name {
    margin: 1em 0em 1em 0em;
}